.divTable
    {
        margin: auto;
        
        font-size: 12px;
        display:  table;
        
        background-color:#eee;
        border:1px solid  #666666;
        border-spacing:5px;/*cellspacing:poor IE support for  this*/
       /* border-collapse:separate;*/
    }
    .headRow
    {
        font-size: 15px;
    }
    .divRow
    {
       display:table-row;
       width:auto;
       background-color:rgb(235, 230, 230);
    }

    .divCell
    {
        text-align:center;
        vertical-align: middle;
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:70px;
        background-color:rgb(235, 230, 230);
    }
    .divCell2{
        width: 200px;
    }
    .imgsach
    {
        height: 70px;
        width: 70px;
    }
    .input
    {
        text-align:center;
        border-radius: .4rem;
        width: 8ch;
    }
    .input2
    {
        width: 30ch;
    }
